/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: SanFran;
  src: url(../font/sf-compact-display-bold-webfont.woff);
  font-weight: 700;
}
@font-face {
  font-family: SanFran;
  src: url(../font/sf-compact-display-medium-webfont.woff);
  font-weight: 500;
}
@font-face {
  font-family: SanFran;
  src: url(../font/sf-compact-display-regular-webfont.woff);
  font-weight: 400;
}
#sidebar .nav-items #nav-settings:after, #sidebar .nav-items #nav-notifications:after, #sidebar .nav-items #nav-today:after, #sidebar .nav-items #nav-interviews:after, #sidebar .nav-items #nav-waitinglist:after, #sidebar .nav-items #nav-home:after {
  content: "";
  width: 4px;
  height: 56px;
  background-color: #337AB7;
  position: absolute;
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.h1-bold {
  font-size: 2rem;
  color: #344762;
  text-align: left;
  font-weight: 700;
  font-family: SanFran;
}

.h1-medium {
  font-size: 2rem;
  color: #344762;
  text-align: left;
  font-weight: 500;
  font-family: SanFran;
}

.h1-regular {
  font-size: 2rem;
  color: #344762;
  text-align: left;
  font-weight: 400;
  font-family: SanFran;
}

.h2-bold {
  font-size: 1.5rem;
  color: #344762;
  text-align: left;
  font-weight: 700;
  font-family: SanFran;
}

.h2-medium {
  font-size: 1.5rem;
  color: #344762;
  text-align: left;
  font-weight: 500;
  font-family: SanFran;
}

.h2-regular {
  font-size: 1.5rem;
  color: #344762;
  text-align: left;
  font-weight: 400;
  font-family: SanFran;
}

.h3-medium {
  font-size: 1rem;
  color: #8F9299;
  text-align: left;
  font-weight: 500;
  font-family: SanFran;
}

.p-bold {
  font-size: 1rem;
  color: #344762;
  text-align: left;
  font-weight: 700;
  font-family: SanFran;
}

.p-medium {
  font-size: 1rem;
  color: #344762;
  text-align: left;
  font-weight: 500;
  font-family: SanFran;
}

.p-regular {
  font-size: 1rem;
  color: #344762;
  text-align: left;
  font-weight: 400;
  font-family: SanFran;
}

.text-link {
  font-size: 1rem;
  color: #337AB7;
  text-align: left;
  font-weight: 400;
}

.card-holder-mobile {
  position: relative;
}
.card-holder-mobile .card-delete {
  background-color: #EB5757;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.card-holder-mobile .card-delete #trash-img {
  margin-right: 3rem;
}
.card-holder-mobile .card-holder {
  width: 100vw;
  margin: 32px 0 0;
}
.card-holder-mobile .card-holder .card-elements {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.card-holder-mobile .card-holder .card-elements .floating-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: -29px;
  right: 16px;
}
.card-holder-mobile .card-holder .card-elements .floating-icons img {
  margin-right: 8px;
}
.card-holder-mobile .card-holder .card-elements .floating-icons p {
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 3px 9px;
  margin-right: 8px;
}
.card-holder-mobile .card-holder .card-elements .profile-pill-md {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}
.card-holder-mobile .card-holder .card-elements .profile-pill-md img {
  margin-left: 16px;
}
.card-holder-mobile .card-holder .card-elements .profile-pill-lg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.card-holder-mobile .card-holder .card-elements .profile-pill-lg img {
  position: absolute;
  right: 32px;
  bottom: 8px;
}

.card-holder-desktop {
  display: none;
}
.card-holder-desktop .info-title {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr 1fr 2fr;
  grid-template-areas: "Date  Subject  Info  Teacher  Perc  Done  Done";
}
.card-holder-desktop .info-title .h3:nth-last-of-type(1) {
  grid-area: Date;
}
.card-holder-desktop .info-title .h3:nth-last-of-type(2) {
  grid-area: Subject;
}
.card-holder-desktop .info-title .h3:nth-last-of-type(3) {
  grid-area: Info;
}
.card-holder-desktop .info-title .h3:nth-last-of-type(4) {
  grid-area: Teacher;
}
.card-holder-desktop .info-title .h3:nth-last-of-type(5) {
  grid-area: Perc;
}
.card-holder-desktop .info-title .h3:nth-last-of-type(6) {
  grid-area: Done;
}
.card-holder-desktop .card-desktop-elements {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr 1fr 2fr;
  grid-template-areas: "Date  Subject  Info  Teacher  Perc  Done  Btn";
}
.card-holder-desktop .card-desktop-elements .grid-date {
  grid-area: Date;
  align-self: center;
}
.card-holder-desktop .card-desktop-elements .card-subject {
  grid-area: Subject;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card-holder-desktop .card-desktop-elements .card-subject img {
  margin-right: 8px;
}
.card-holder-desktop .card-desktop-elements .grid-info {
  grid-area: Info;
  align-self: center;
}
.card-holder-desktop .card-desktop-elements .profile-pill-desktop {
  grid-area: Teacher;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.card-holder-desktop .card-desktop-elements .profile-pill-desktop img {
  margin-right: 8px;
}
.card-holder-desktop .card-desktop-elements .grid-perc {
  grid-area: Perc;
  align-self: center;
}
.card-holder-desktop .card-desktop-elements > img {
  grid-area: Done;
  align-self: center;
}
.card-holder-desktop .card-desktop-elements button {
  grid-area: Btn;
  align-self: center;
}

.card-holder-desktop-waitinglist {
  display: none;
}
.card-holder-desktop-waitinglist .info-title {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr 1fr 1fr;
  grid-template-areas: "Subject  Info  Teacher  Student  Time  Expand";
}
.card-holder-desktop-waitinglist .info-title .h3:nth-last-of-type(1) {
  grid-area: Subject;
}
.card-holder-desktop-waitinglist .info-title .h3:nth-last-of-type(2) {
  grid-area: Info;
}
.card-holder-desktop-waitinglist .info-title .h3:nth-last-of-type(3) {
  grid-area: Teacher;
}
.card-holder-desktop-waitinglist .info-title .h3:nth-last-of-type(4) {
  grid-area: Student;
}
.card-holder-desktop-waitinglist .info-title .h3:nth-last-of-type(5) {
  grid-area: Time;
}
.card-holder-desktop-waitinglist .info-title .h3:nth-last-of-type(6) {
  grid-area: Expand;
}
.card-holder-desktop-waitinglist .card-holder {
  position: relative;
  margin-bottom: 1.5rem;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr 1fr 1fr;
  grid-template-areas: "Subject  Info  Teacher  Student  Time  Expand" "Text  Text  Text  Text  Text  Text";
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-subject {
  grid-area: Subject;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-subject img {
  margin-right: 32px;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-info {
  grid-area: Info;
  align-self: center;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-teacher {
  grid-area: Teacher;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-teacher img {
  margin-right: 16px;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-student {
  grid-area: Student;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-student img {
  margin-right: 16px;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .grid-time {
  grid-area: Time;
  align-self: center;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .expand-card-btn {
  grid-area: Expand;
  align-self: center;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .minimize-card-btn {
  grid-area: Expand;
  align-self: center;
  display: none;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .card-txt-dscr {
  display: none;
  grid-area: Text;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #F5F7FA;
}
.card-holder-desktop-waitinglist .card-holder .card-desktop-elements .card-txt-dscr p {
  line-height: 1.5rem;
}
.card-holder-desktop-waitinglist .card-holder .card-item-delete {
  position: absolute;
  top: -16px;
  right: 16px;
}

.card-holder-today {
  display: none;
}
.card-holder-today .info-title {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "Date  Subject  Info  Teacher  Perc  Done  Done Arrow";
}
.card-holder-today .info-title .h3:nth-last-of-type(1) {
  grid-area: Date;
}
.card-holder-today .info-title .h3:nth-last-of-type(2) {
  grid-area: Subject;
}
.card-holder-today .info-title .h3:nth-last-of-type(3) {
  grid-area: Info;
}
.card-holder-today .info-title .h3:nth-last-of-type(4) {
  grid-area: Teacher;
}
.card-holder-today .info-title .h3:nth-last-of-type(5) {
  grid-area: Perc;
}
.card-holder-today .info-title .h3:nth-last-of-type(6) {
  grid-area: Done;
}
.card-holder-today .info-title .h3:nth-last-of-type(7) {
  grid-area: Arrow;
}
.card-holder-today .card-desktop-elements {
  width: 95%;
  margin: 0 auto;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "Date  Subject  Info  Teacher  Link  Folder  Btn Arrow";
}
.card-holder-today .card-desktop-elements .grid-date {
  grid-area: Date;
  align-self: center;
}
.card-holder-today .card-desktop-elements .card-subject {
  grid-area: Subject;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card-holder-today .card-desktop-elements .card-subject img {
  margin-right: 8px;
}
.card-holder-today .card-desktop-elements .grid-info {
  grid-area: Info;
  align-self: center;
}
.card-holder-today .card-desktop-elements .profile-pill-desktop {
  grid-area: Teacher;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}
.card-holder-today .card-desktop-elements .profile-pill-desktop img {
  margin-right: 8px;
}
.card-holder-today .card-desktop-elements .grid-perc {
  grid-area: Link;
  align-self: center;
}
.card-holder-today .card-desktop-elements .folder-icon {
  grid-area: Folder;
  align-self: center;
}
.card-holder-today .card-desktop-elements button {
  grid-area: Btn;
  align-self: center;
}
.card-holder-today .card-desktop-elements .arrow-down-icon {
  grid-area: Arrow;
  align-self: center;
}

.card-btn-desktop {
  width: 92px;
  height: 2rem;
  background-color: #337AB7;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.add-btn-desktop {
  width: 15rem;
  height: 3rem;
  background-color: #337AB7;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.add-btn-desktop-holder {
  display: flex;
  justify-content: flex-end;
}

.card-btn-holder {
  width: 100vw;
  margin: 16px 0;
}
.card-btn-holder .card-btn-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 20px 24px;
  background-color: #fff;
  border-radius: 10px;
}

.more-info-panel {
  display: none;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #F5F7FA;
}
.more-info-panel .more-info-panel-content {
  padding: 2.5rem 1.5rem;
}

.head-title {
  display: flex;
  flex-direction: row;
  margin: 32px 16px;
}
.head-title h1 {
  margin-left: 8px;
}

nav {
  width: 100vw;
  height: 50px;
  background-color: #344762;
  bottom: 0;
  position: fixed;
}
nav .nav-holder {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}
nav .nav-holder a {
  display: flex;
  align-items: center;
}
nav .nav-holder a .nav-menu-icon {
  border-radius: 50%;
  background-color: #344762;
  border: 6px solid #fff;
  padding: 10px;
}
nav .nav-holder .nav-menu-holder {
  background-color: #fff;
  transform: translateY(-55%);
  border-radius: 50%;
}

.filter-archive-container {
  margin: 0 16px;
  position: relative;
  display: inline-block;
}
.filter-archive-container .filter-archive-btn {
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.filter-archive-container .filter-archive-btn .arrow-down-icon {
  margin-left: 1rem;
}

.filter-archive-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.filter-archive-dropdown-content a {
  color: #344762;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-archive-dropdown-content a:hover {
  background-color: #F5F7FA;
}

.filter-archive-container:hover .filter-archive-dropdown-content {
  display: block;
}

@media only screen and (min-width: 900px) {
  #navbar-mobile {
    display: none;
  }

  .card-holder-mobile {
    display: none;
  }

  .card-btn-mobile {
    display: none;
  }

  .card-holder-desktop {
    display: block;
  }

  .card-holder-desktop-waitinglist {
    display: block;
  }

  .head-title {
    margin: 51px 24px;
  }

  .filter-archive-container {
    position: absolute;
    right: 3rem;
    top: 52px;
    margin: 0;
  }

  #waitinglist-overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
  #waitinglist-overview .card-holder {
    width: 212px;
    height: 232px;
    margin: 24px 32px 0;
  }
  #waitinglist-overview .card-holder:hover p {
    font-weight: 700;
  }
  #waitinglist-overview .card-holder .card-elements {
    width: 100%;
  }
  #waitinglist-overview .card-holder .card-elements .floating-icons {
    right: 0px;
  }
  #waitinglist-overview .card-holder .card-elements .floating-icons img {
    height: 48px;
    width: 48px;
  }
  #waitinglist-overview .card-holder .card-elements .floating-icons p {
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 3px 9px;
    margin-right: 8px;
  }
  #waitinglist-overview .card-holder .card-elements .profile-pill-md {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0;
  }
  #waitinglist-overview .card-holder .card-elements .profile-pill-md p {
    font-size: 1.5rem;
    color: #344762;
    text-align: left;
    font-weight: 400;
    margin-bottom: 32px;
  }
  #waitinglist-overview .card-holder .card-elements .profile-pill-md img {
    height: 72px;
    width: auto;
    margin: 56px 0 32px;
  }
}
@media only screen and (max-width: 900px) {
  .add-btn-desktop-holder {
    display: none;
  }
}
#sidebar {
  height: 100vh;
  width: 4.5rem;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1.375rem 1.75rem 1.375rem 1.375rem;
}
#sidebar .nav-items {
  margin: 4rem 0 auto;
  display: flex;
  flex-direction: column;
}
#sidebar .nav-items #nav-home:after {
  top: 92px;
}
#sidebar .nav-items #nav-waitinglist:after {
  top: 180px;
}
#sidebar .nav-items #nav-interviews:after {
  top: 268px;
}
#sidebar .nav-items #nav-today:after {
  top: 356px;
}
#sidebar .nav-items #nav-notifications:after {
  top: 444px;
}
#sidebar .nav-items #nav-settings:after {
  top: 532px;
}
#sidebar .nav-items li {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  align-items: center;
}
#sidebar .nav-items li span {
  display: none;
  margin-left: 0.625rem;
}
#sidebar .nav-items li #nav-home-icon {
  height: 1.5rem;
  height: 1.5rem;
}
#sidebar .nav-items li #nav-home-icon:hover path {
  fill: #337AB7;
}
#sidebar .nav-items li #nav-waitinglist-icon:hover path {
  fill: #56CCF2;
}
#sidebar .nav-items li #nav-interviews-icon:hover path {
  fill: #F2994A;
}
#sidebar .nav-items li #nav-today-icon:hover path {
  fill: #BB6BD9;
}
#sidebar .nav-items li #nav-notifications-icon:hover path {
  fill: #EB5757;
}
#sidebar .nav-items li #nav-settings-icon:hover path {
  fill: #333333;
}
#sidebar #nav-menu:hover path {
  fill: #337AB7;
}
#sidebar #nav-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#sidebar #nav-logout span {
  display: none;
  margin-left: 0.625rem;
}
#sidebar #nav-logout #nav-logout-icon:hover path {
  fill: #337AB7;
}
#sidebar #nav-close {
  right: 0;
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FA;
}

.waitinglist-body {
  background-color: #F5F7FA;
}

.waitinglist-header {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.waitinglist-header #waitinglist-header-dscr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.waitinglist-header #waitinglist-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
