
// **** Text styles ****
@mixin text-style($font-size, $font-color, $text-align, $font-weight) {
    font-size: $font-size;
    color: $font-color;
    text-align: $text-align;
    font-weight: $font-weight;
    @content;
}

@mixin flex ($dir :null, $jst: null, $algn: null) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jst;
    align-items: $algn;
}

@mixin card-elements {
    width: 95%;
    margin: 0 auto;
    padding: 16px 24px;
    background-color: $white;
    border-radius: 10px;
}

@mixin card-info-elements {
    width: 95%;
    margin: 0 auto;
    padding: 16px 24px;
}

//button
@mixin btn($width,$height,$bg-color){
    width: $width;
    height: $height;
    background-color: $bg-color;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size:1rem;
    @content;
}
