// Colors

//primary-Colors
$navy-blue: #344762;
$light-blue: #337AB7;
$neon-orange: #FF623F;
$red: #EB5757;
$grey:#8F9299;
$dark-blue: #1F2533;

//Background-Colors
$white: #fff;
$light-grey:#F5F7FA;