// Accordion panel today section
.more-info-panel{
    display: none;
    overflow: hidden;
    width: 95%;;
    margin: 0 auto;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid $light-grey;
    .more-info-panel-content{
        padding: 2.5rem 1.5rem;
    }
}
