
.card-btn-desktop {
    @include btn(92px,2rem,$light-blue);
}
.add-btn-desktop {
    @include btn(15rem,3rem,$light-blue);
}
// Add btn position in desktop
.add-btn-desktop-holder{
    display: flex;
    justify-content: flex-end;   
 }

.card-btn-holder {
    width: 100vw;
    margin: 16px 0;

    .card-btn-add {
        @include flex(row, space-between, center);
        width: 95%;
        margin: 0 auto;
        padding: 20px 24px;
        background-color: $white;
        border-radius: 10px;
    }
}
