.card-holder-mobile {
    position: relative;
  
    .card-delete {
      background-color: $red;
      width: 90%;
      margin: 0 auto;
      border-radius: 10px;
      height: 88px;
      position: absolute;
      top: 0;
      left: 24px;
      @include flex(row, flex-end, center);
  
      #trash-img {
        margin-right: 3rem;
      }
    }
  
    .card-holder {
      width: 100vw;
      margin: 32px 0 0;
  
      .card-elements {
        @include card-elements;
        position: relative;
  
        .floating-icons {
          @include flex(row, flex-end, center);
          position: absolute;
          top: -29px;
          right: 16px;
  
          img {
            margin-right: 8px;
          }
  
          p {
            background-color: $white;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding: 3px 9px;
            margin-right: 8px;
          }
        }
  
        .profile-pill-md {
          @include flex(row, null, center);
          margin-top: 8px;
  
          img {
            margin-left: 16px;
          }
        }
  
        .profile-pill-lg {
          @include flex(row, null, center);
          margin-top: 20px;
  
          img {
            position: absolute;
            right: 32px;
            bottom: 8px;
          }
        }
      }
    }
  }
  
  .card-holder-desktop {
    display: none;
  
    .info-title {
      @include card-info-elements;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 2fr 1fr 1fr 2fr;
      grid-template-areas: "Date  Subject  Info  Teacher  Perc  Done  Done";
  
      .h3:nth-last-of-type(1) {
        grid-area: Date;
      }
      .h3:nth-last-of-type(2) {
        grid-area: Subject;
      }
      .h3:nth-last-of-type(3) {
        grid-area: Info;
      }
      .h3:nth-last-of-type(4) {
        grid-area: Teacher;
      }
      .h3:nth-last-of-type(5) {
        grid-area: Perc;
      }
      .h3:nth-last-of-type(6) {
        grid-area: Done;
      }
    }
  
    .card-desktop-elements {
      @include card-elements;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 2fr 1fr 1fr 2fr;
      grid-template-areas: "Date  Subject  Info  Teacher  Perc  Done  Btn";
  
      .grid-date {
        grid-area: Date;
        align-self: center;
      }
      .card-subject {
        grid-area: Subject;
        @include flex(row, flex-start, center);
        img {
          margin-right: 8px;
        }
      }
      .grid-info {
        grid-area: Info;
        align-self: center;
      }
      .profile-pill-desktop {
        grid-area: Teacher;
        @include flex(row, flex-start, center);
        margin-top: 8px;
        img {
          margin-right: 8px;
        }
      }
      .grid-perc {
        grid-area: Perc;
        align-self: center;
      }
      > img {
        grid-area: Done;
        align-self: center;
      }
      button {
        grid-area: Btn;
        align-self: center;
      }
    }
  }
  
  // CUSTOM WAITINGLIST CARD
  .card-holder-desktop-waitinglist {
    display: none;
  
    .info-title {
      @include card-info-elements;
      display: grid;
      grid-template-columns: 3fr 3fr 2fr 2fr 1fr 1fr;
      grid-template-areas: "Subject  Info  Teacher  Student  Time  Expand";
  
      .h3:nth-last-of-type(1) {
        grid-area: Subject;
      }
      .h3:nth-last-of-type(2) {
        grid-area: Info;
      }
      .h3:nth-last-of-type(3) {
        grid-area: Teacher;
      }
      .h3:nth-last-of-type(4) {
        grid-area: Student;
      }
      .h3:nth-last-of-type(5) {
        grid-area: Time;
      }
      .h3:nth-last-of-type(6) {
        grid-area: Expand;
      }
    }
  
    .card-holder {
      position: relative;
      margin-bottom: 1.5rem;
  
      .card-desktop-elements {
        @include card-elements;
        display: grid;
        grid-template-columns: 3fr 3fr 2fr 2fr 1fr 1fr;
        grid-template-areas:
          "Subject  Info  Teacher  Student  Time  Expand"
          "Text  Text  Text  Text  Text  Text";
  
        .grid-subject {
          grid-area: Subject;
          @include flex(row, flex-start, center);
          img {
            margin-right: 32px;
          }
        }
        .grid-info {
          grid-area: Info;
          align-self: center;
        }
        .grid-teacher {
          grid-area: Teacher;
          @include flex(row, flex-start, center);
          margin-top: 8px;
          img {
            margin-right: 16px;
          }
        }
        .grid-student {
          grid-area: Student;
          @include flex(row, flex-start, center);
          margin-top: 8px;
          img {
            margin-right: 16px;
          }
        }
  
        .grid-time {
          grid-area: Time;
          align-self: center;
        }
  
        .expand-card-btn {
          grid-area: Expand;
          align-self: center;
        }
  
        .minimize-card-btn {
          grid-area: Expand;
          align-self: center;
          display: none;
        }
  
        .card-txt-dscr {
          display: none;
          grid-area: Text;
          margin-top: 1.5rem;
          padding-top: 1.5rem;
          border-top: 1px solid $light-grey;
  
          p {
            line-height: 1.5rem;
          }
        }
      }
  
      .card-item-delete {
        position: absolute;
        top: -16px;
        right: 16px;
      }
    }
  }
  // Custom today card
.card-holder-today {
  display: none;

  .info-title {
    @include card-info-elements;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 2fr 1fr;
    grid-template-areas: "Date  Subject  Info  Teacher  Perc  Done  Done Arrow";

    .h3:nth-last-of-type(1) {
      grid-area: Date;
    }
    .h3:nth-last-of-type(2) {
      grid-area: Subject;
    }
    .h3:nth-last-of-type(3) {
      grid-area: Info;
    }
    .h3:nth-last-of-type(4) {
      grid-area: Teacher;
    }
    .h3:nth-last-of-type(5) {
      grid-area: Perc;
    }
    .h3:nth-last-of-type(6) {
      grid-area: Done;
    }
    .h3:nth-last-of-type(7) {
      grid-area: Arrow;
    }
  }

  .card-desktop-elements {
    @include card-elements;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 2fr 1fr;
    grid-template-areas: "Date  Subject  Info  Teacher  Link  Folder  Btn Arrow";

    .grid-date {
      grid-area: Date;
      align-self: center;
    }
    .card-subject {
      grid-area: Subject;
      @include flex(row, flex-start, center);
      img {
        margin-right: 8px;
      }
    }
    .grid-info {
      grid-area: Info;
      align-self: center;
    }
    .profile-pill-desktop {
      grid-area: Teacher;
      @include flex(row, flex-start, center);
      margin-top: 8px;
      img {
        margin-right: 8px;
      }
    }
    .grid-perc {
      grid-area: Link;
      align-self: center;
    }
    .folder-icon {
      grid-area: Folder;
      align-self: center;
    }
    button {
      grid-area: Btn;
      align-self: center;
    }
    .arrow-down-icon {
      grid-area: Arrow;
      align-self: center;
    }
  }
}
