// drop down archive filter, Today section
.filter-archive-container{
    margin: 0 16px;
    position: relative;
    display: inline-block;
    .filter-archive-btn{
        height: 2.5rem;
        padding: 0 1rem;
        background-color:#fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        .arrow-down-icon{
            margin-left: 1rem;
        }
    }
}
.filter-archive-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.filter-archive-dropdown-content a {
    color:$navy-blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.filter-archive-dropdown-content a:hover {
    background-color:$light-grey;
}
.filter-archive-container:hover .filter-archive-dropdown-content {
    display: block;
}
