@font-face {
    font-family: SanFran;
    src: url(../font/sf-compact-display-bold-webfont.woff);
    font-weight: 700;
}

@font-face {
    font-family: SanFran;
    src: url(../font/sf-compact-display-medium-webfont.woff);
    font-weight: 500;
}

@font-face {
    font-family: SanFran;
    src: url(../font/sf-compact-display-regular-webfont.woff);
    font-weight: 400;
}