nav {
    width: 100vw;
    height: 50px;
    background-color: $navy-blue;
    bottom: 0;
    position: fixed;
    .nav-holder {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        a {
            display: flex;
            align-items: center;
            .nav-menu-icon {
                border-radius: 50%;
                background-color: $navy-blue;
                border: 6px solid $white;
                padding: 10px;
            }
        }
        .nav-menu-holder {
            background-color: $white;
            transform: translateY(-55%);
            border-radius: 50%;
        }
    }
}