@media only screen and (min-width: 900px) {
  #navbar-mobile {
    display: none;
  }
  .card-holder-mobile {
    display: none;
  }
  .card-btn-mobile {
    display: none;
  }
  .card-holder-desktop {
    display: block;
  }
  .card-holder-desktop-waitinglist {
    display: block;
  }
  .head-title {
    margin: 51px 24px;
  }
  .filter-archive-container {
    position: absolute;
    right: 3rem;
    top: 52px;
    margin: 0;
  }
  // CUSTOM DESKTOP WAITINGLIST OVERVIEW CARD
  #waitinglist-overview {
    @include flex(row, null, center);
    flex-wrap: wrap;
    margin: 0 -8px;

    .card-holder {
      width: 212px;
      height: 232px;
      margin: 24px 32px 0;

      &:hover {
        p {
          font-weight: 700;
        }
      }
      .card-elements {
        width: 100%;

        .floating-icons {
          right: 0px;

          img {
            height: 48px;
            width: 48px;
          }

          p {
            background-color: $white;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding: 3px 9px;
            margin-right: 8px;
          }
        }

        .profile-pill-md {
          @include flex(column-reverse, null, center);
          margin-top: 0;

          p {
            @include text-style(1.5rem, $navy-blue, left, 400);
            margin-bottom: 32px;
          }

          img {
            height: 72px;
            width: auto;
            margin: 56px 0 32px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 900px) {
  .add-btn-desktop-holder {
    display: none;
  }
}
