//SIDEBAR
#sidebar {
    height: 100vh;
    width: 4.5rem;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1.375rem 1.75rem 1.375rem 1.375rem;

    //MAIN ITEMS IN NAV
    .nav-items {
        margin: 4rem 0 auto;
        display: flex;
        flex-direction: column;

        //HOME LIST ITEM
        #nav-home {
            &:after {
                @extend %selected-nav-item;
                top: 92px;
            }
        }

        //WAITINGLIST LIST ITEM
        #nav-waitinglist {
            &:after {
                @extend %selected-nav-item;
                top: 180px;
            }
        }

        //INTERVIEWS LIST ITEM
        #nav-interviews {
            &:after {
                @extend %selected-nav-item;
                top: 268px;
            }
        }

        //MATERIAL OF THE DAY LIST ITEM
        #nav-today {
            &:after {
                @extend %selected-nav-item;
                top: 356px;
            }
        }

        //NOTIFICATIONS LIST ITEM
        #nav-notifications {
            &:after {
                @extend %selected-nav-item;
                top: 444px;
            }
        }

        //SETTINGS LIST ITEM
        #nav-settings {
            &:after {
                @extend %selected-nav-item;
                top: 532px;
            }
        }

        //ICONS IN LIST

        //ALL LIST ITEMS
        li {
            display: flex;
            flex-direction: row;
            margin-bottom: 4rem;
            align-items: center;

                span {
                display: none;
                margin-left: 0.625rem;
            }

            //HOME ICON
            #nav-home-icon {
                height: 1.5rem;
                height: 1.5rem;
            
                &:hover path {
                    fill: #337AB7;
                }
            }

            //WAITING LIST ICON
            #nav-waitinglist-icon {
                &:hover path {
                    fill: #56CCF2;
                }
            }

            //INTERVIEWS ICON
            #nav-interviews-icon {
                &:hover path {
                    fill: #F2994A;
                }
            }

            //MATERIAL OF THE DAY ICON
            #nav-today-icon {
                &:hover path {
                    fill: #BB6BD9;
                }
            }

            //NOTIFICATIONS ICON
            #nav-notifications-icon {
                &:hover path {
                    fill: #EB5757;
                }
            }

            //SETTINGS ICON
            #nav-settings-icon {
                &:hover path {
                    fill: #333333;
                } 
            }
        }
    }

    //MENU
    #nav-menu {

        &:hover path {
            fill: $light-blue;
        }
    }

    //LOG OUT
    #nav-logout {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            display: none;
            margin-left: 0.625rem;
        }

        #nav-logout-icon {
            &:hover path {
                fill: $light-blue;
            }

        }
    }

    //CLOSE BUTTON ON NAV
    #nav-close {
        // position: absolute;
        right: 0;
        // top: 1rem;
        display: none;
    }
    
}