.waitinglist-body {
    background-color: #F5F7FA;
}

.waitinglist-header {
    margin: 2rem 1rem;
    @include flex(row, space-between, center);

    #waitinglist-header-dscr {
        @include flex(row, null, center);
    }

    #waitinglist-icon {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 0.5rem;
    }
}

// .teacher-overview {
    // @include flex (row, space-between, null);
    // padding: 0 14px;
// }